:host ::ng-deep .mat-card {
  //background: #42424242;
}

:host ::ng-deep .mat-grid-tile.left .mat-figure {
  text-align: left;
  justify-content: left;
  padding-left: 15px;
}

:host ::ng-deep .mat-grid-tile.right .mat-figure {
  text-align: right;
  justify-content: flex-end;
  padding-right: 15px;
}

:host ::ng-deep .mat-progress-spinner {
  float:left;
  width: 24px;
  height: 24px;
  margin: 5px 10px 0px 0px;
}

:host ::ng-deep  .basic-container {
  display: inline-block;
  position: relative;
}

:host ::ng-deep  img {
  max-width: 100%;
  position: absolute;
  max-height: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(45% at 50% 49%);
}
.mat-progress-bar {
  height: 30px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
